/* Color directory:
Pale yellow (Background): #fff9e4
Pale orange (Content backgrounds): #f6d8b6
Orange (Accents): #c44c06
Black (Text): #2b2a28
White (Text): #f2eeee

------------------------------------------------------
*/

/* Base Styles */

body {
    max-width: 375px;
    background-color: #fff9e4;
    color: #2b2a28;
    margin: 0px;
    font-family: 'Yantramanav', sans-serif;
}

a {
    text-decoration: none;
    color: #2b2a28;
}

.menubar {
    background-color: #c44c06;
    color: #f2eeee;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 4.5vw;
}

.menubar a {
    color: #f2eeee;
}

.menubar--min_profil {
    background-color: #c44c06;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 4.5vw;
}

.menubar--min_profil a {
    color: #f2eeee;
}


#min_profil {
    padding-right: 10px;
}

#ny_sogning {
    padding-left: 10px;
}

main {
    padding-bottom: 60px;
}

/* Index.html styles - TINE */

.content {
    text-align: center;
    width: 100vw;
}

.content__search {
    display: grid;
    justify-items: center;
}

.content__input {
    background-color: #f6d8b6;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.content__logo {
    width: 100vw;
}

.content__searchinput {
    background-color: #f6d8b6;
    border: none;
}

.content__submit {
    height: 30px;
}


/* search_result.html styles - TINE */

.kategori {
    position: fixed;
    left: -460px;
    top: 7vh;
    background-color: #c44c06;
    height: 650px;
    width: 500px;
    color: #f2eeee;
}

.kategori__title {
    position: fixed;
    transform: rotate(90deg);
    top: 325px;
    left: -40px;
    background-color: #c44c06;
}

.kategori__items {
    position: fixed;
    top: 180px;
    font-size: 28px;
    list-style-type: "□ ";
    line-height: 60px;
    padding-left: 15%;
}

.kategori:hover {
    animation-name: kategoribox;
    animation-duration: 0.7s;
    left: 0px;
}


@keyframes kategoribox {
    0%   {left:-460px;}
    100% {left: 0px;}
  }

  @keyframes kategorititle {
    0%   {left:-40px;}
    100% {left: 420px;}
  }

.searchresult__searchitem {
    background-color: #f6d8b6;
    margin: 20px;
    margin-left: 50px;
}

.searchresult__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.searchresult__searchimage {
    width: 100%;
    margin: 10px;
}

.searchresult__textcontainer {
    line-height: 0px;
}

.searchresult__price {
    font-size: 26px;
}

.searchresult__time, .searchresult__name {
    font-size: 18px;
}

.searchresult__author {
    margin: 0;
    padding-bottom: 10px;
}

/* Confirmation_getrud & confirmation_hans - TINE*/

.confirmation {
    text-align: center;
    padding: 10px;
}

.congrats {
    font-size: 50px;;
}

.chatbutton {
    position: relative;
    text-align: center;
    display: grid;
    justify-content: center;
}

.chatbutton p {
    position: absolute;
    justify-self: center;
    top: 10px;
    font-size: 20px;
    color: #f2eeee;
}


/* Portioner (Fixing) - TINE */

.portioner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 32px;
}

.portioner h2 {
    justify-self: center;
}

.bestil_button {
    background-color: #c44c06;
    color: #f2eeee;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.time_and_button {
    display: grid;
    justify-content: center;
}

/* CELINES RODET CSS, SORRY :(  */ 
body {
    max-width: 375px;
    background-color: #fff9e4;
    color: #2b2a28;
    margin: 0px;
    font-family: 'Yantramanav', sans-serif;
}

.menubar {
    background-color: #c44c06;
    color: #f2eeee;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 4.5vw;
}

h1 {
    text-align: center;
    width: 100vw;
}

.nem_id {
    background-color: #f6d8b6;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
}

.tidspunkt {
    text-align: center;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.boks {
    height: 90%;
}

.pris {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.prisb {
    height: 20vw;
    width: 40vw;    
}

.portion {
    text-align: left;
    width: 100vw;
}

.opret {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.lasagne {
    background-color: #f6d8b6;
    text-align: center;
    width: 100vw;
    display: block;
    display: grid;
    grid-template-columns: 1fr;
}

.lasagneb {
    position: absolute;left: 0%;
}

.taleb {
    position: absolute;right: 0%;
}

.pastinak {
    background-color: #f6d8b6;
    text-align: center; 
    width: 100vw;
    display: block;
    display: grid;
    grid-template-columns: 1fr;
}

.frikadeller {
    background-color: #f6d8b6;
    text-align: center;
    width: 100vw;
    display: block;
    display: grid;
    grid-template-columns: 1fr;
}

.smørrebrød {
    background-color: #f6d8b6;
    text-align: center;
    width: 100vw;
    display: block;
    display: grid;
    grid-template-columns: 1fr;
}

.flæskesteg {
    background-color: #f6d8b6;
    text-align: center;
    width: 100vw;
    display: block;  
    display: grid;
    grid-template-columns: 1fr;
}

.navn {
    text-align: center;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr
}

.oppe {
    background-color: #c44c06;
    color: #f2eeee;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 4.5vw;
    width: 100vw;
}

.boller {
    background-color: #f6d8b6;
    display: block;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* Mikkel css */

body {
    max-width: 400px;
    background-color: #fff9e4;
    color: #2b2a28;
    margin: 0px;
    font-family: 'Yantramanav', sans-serif;
}

.topbox {
    background-color: #c44c06;
    width: 400px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
}

.tilbageknap {
    margin-left: 10px;
    margin-top: 25px;
}

.gertrud {
    height: 75px;
    width: 75px;
    margin-top: 10px;
}

.tid {
    text-align: center;
    color: #2b2a28;
}

.chat1, .chat3, .chat5 {
    background-color: #f6d8b6;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    margin-left: 20px;
    padding: 0px;
}

.chat2, .chat4 {
    background-color: #c44c06;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    margin-right: 20px;
    margin-left: 130px;
    color: white;
}

.besked {
    background-color: #c44c06;
    width: 360px;
    height: 50px;
    border-radius: 25px;
    justify-content: left;
    margin-left: 20px;
    margin-top: 100px;
    color: white;
}

.h2chat {
    padding: 12px;
    font-size: 20px;
    
}

.lydknap {
    width: 13%;
    padding: 2px;
    text-align: center;
    display: inline;
    float: right;
}

.h2besked {
    text-align: center;
    display: inline;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.top {
    position: relative;
}

.bot {
    margin-top: 50px;
}

.heart {
    position: absolute;
    top: 0;
    left: 325px;
}

.stars {
    position: absolute;
    top: 0px;
    left: 0px;
}

.bollerikarry {
    position: relative;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 250px;
}

.gadenavn {
    background-color: #c44c06;
    position: absolute;
    width: 170px;
    top: 193px;
    left: 230px;
    color: white;
    font-size: 25px;
}

.gertrudmad {
    position: absolute;
    top: 205px;
    left: 30px;
}

.h1center {
    position: absolute;
    top: 230px;
    left: 135px;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
}

.h1stor {
    font-size: 40px;
    top: 0px;
}

.bollerbars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 100px 300px;
    top: 0px;
    position: absolute;
    top: 350px;
}

.portionerboller {
    background-color: #f6d8b6;
    margin-left: 50px;
    width: 120px;
    text-align: left;
    font-size: 25px;
    
}

.tidspunktboller {
    background-color: #f6d8b6;
    margin-left: 75px;
    width: 170px;
    font-size: 25px;
    
}

.bunden {
    position: relative;
    top: 20px;
}

.tyvedkk {
    font-size: 40px;
}

.perportion {
    position: absolute;
    top: 20px;
    left: 145px;
}

.bestil {
    position: absolute;
    top: 80px;
    left: 135px;
    background-color: #c44c06;
    width: 130px;
    text-align: center;
    color: white;
}

.allergener {
    position: absolute;
    top: 180px;
    left: 20px;
}

.mælk {
    position: absolute;
    top: 210px;
    left: 20px;
}

.patriciatop {
    background-color: #c44c06;
    width: 400px;
    height: 100px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.patriciabillede {
    margin-left: 15px;
    margin-top: 7px;
}

.patricialagkage {
    margin-top: 35px;
    margin-left: 150px;
    position: absolute;
}

.knapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.bestillingerknap{
    grid-row-start: 1;
    grid-column-start: 2;
    background-color: #f6d8b6;
    font-size: 30px;
    text-align: center;
}

.favoritterknap {
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: #f6d8b6;
    font-size: 30px;
    text-align: center;
}

.sælgditmadknap{
    grid-row-start: 3;
    grid-column-start: 2;
    background-color: #c44c06;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.adresse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px;
}

.pandekagevej {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 70px; 
}

.kort {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 53px 50px 30px;
}

.h2adresse {
    margin-left: 15px;
    font-size: 30px;
}

.rediger {
    margin-left: 130px;
    margin-top: 40px;
    color: #c44c06;
}

.h2pandekage {
    grid-column-start: span 2;
    font-size: 20px;
    margin-left: 15px;
}

.kortdetaljer {
    margin-left: 15px;
    font-size: 30px;
}

.dankort {
    margin-left: 15px;
}

.allergenerkort {
    grid-column-start: 1;
    margin-left: 15px;
    font-size: 30px;
    margin-top: 0px;
}

.nødder {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 0px;
}

.kortrediger {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-left: 130px;
    color: #c44c06;
}